.product-item {
    
    &__container {
        height: 300px;
    }
    //mo
    &__img {
        height: 100%;
        max-width: 100%;
        &--container {
            border-radius: 50%;
            height: 200px;
            width: 100%;
        }
    }

}